[submodule "vendor/mark-multiple"]
	path = vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode
